In [9]:
# working wioth dataframe
import pandas as pd
li1={
    "d1" : [6,6,3,4],
    "d2" : [2,3,4,1],
    "d3" : [5,7,2,8],
    "d4" : [9,6,7,2]}


df=pd.DataFrame(li1)
print(df)

   d1  d2  d3  d4
0   6   2   5   9
1   6   3   7   6
2   3   4   2   7
3   4   1   8   2

In [10]:
print(df.max()) #max in column

d1    6
d2    4
d3    8
d4    9
dtype: int64

In [11]:
print(df.max(axis=1)) #1 is row, so max per row

0    9
1    7
2    7
3    8
dtype: int64

In [12]:
print(df.min()) #mininmum value column wise

d1    3
d2    1
d3    2
d4    2
dtype: int64

In [13]:
print(df.min(axis=1)) #minimum row wise

0    2
1    3
2    2
3    1
dtype: int64

In [14]:
print(df['d1'].sum()) #sum of d1 column

19

In [15]:
print(df.count()) #value count

d1    4
d2    4
d3    4
d4    4
dtype: int64

In [16]:
print(df.count(axis=1)) #value count row wise

0    4
1    4
2    4
3    4
dtype: int64

In [17]:
print(df.mean())

d1    4.75
d2    2.50
d3    5.50
d4    6.00
dtype: float64

In [18]:
print(df.mode())

    d1  d2  d3  d4
0  6.0   1   2   2
1  NaN   2   5   6
2  NaN   3   7   7
3  NaN   4   8   9

In [19]:
print(df.median())

d1    5.0
d2    2.5
d3    6.0
d4    6.5
dtype: float64

In [20]:
print(df.var()) #variance

d1    2.250000
d2    1.666667
d3    7.000000
d4    8.666667
dtype: float64

In [21]:
print(df.std()) #standard deviation

d1    1.500000
d2    1.290994
d3    2.645751
d4    2.943920
dtype: float64